<mat-toolbar class="toolbar">
  <span>
    <a routerLink=""> Open Connect</a>
  </span>
  <span class="spacer"> </span>
  <ul>
    <li>
      <a
        class="login"
        mat-raised-button
        routerLinkActive="mat-accent"
        routerLink="/login"
        >LOGIN</a
      >
    </li>

    <li>
      <a
        class="login"
        mat-raised-button
        routerLinkActive="mat-accent"
        routerLink="/signup"
        >SIGN UP</a
      >
    </li>

    <li>
      <a
        class="new_post"
        mat-raised-button
        routerLinkActive="mat-accent"
        routerLink="/create"
        >NEW POST</a
      >
    </li>
  </ul>
</mat-toolbar>
