<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="email"
        name="email"
        ngModel
        placeholder="email@example.com"
        #emailInput="ngModel"
        required
        email
      />
      <mat-error *ngIf="emailInput.invalid"
        >Please enter a valid email</mat-error
      >
    </mat-form-field>
    <div
      ngModelGroup="passwordGroup"
      [class.has-error]="confimPassword.touched && confimPassword.invalid"
    >
      <mat-form-field [class.has-error]="password.touched && password.invalid">
        <input
          type="password"
          name="password"
          ngModel
          matInput
          placeholder="password"
          #password="ngModel"
          required
          minlength="8"
          passwordSecurity="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)"
          (input)="confimPassword.control.updateValueAndValidity()"
        />
        <mat-error *ngIf="password.invalid"
          >Please enter valid password</mat-error
        >
      </mat-form-field>
      <mat-form-field
        [class.has-error]="confimPassword.touched && confimPassword.invalid"
      >
        <input
          type="password"
          name="confimPassword"
          ngModel
          matInput
          placeholder="password"
          #confimPassword="ngModel"
          required
          validateEqual="password"
        />
        <mat-error *ngIf="confimPassword.invalid"
          >Passwords do not match</mat-error
        >
      </mat-form-field>
      <div class="password_info">
        Password should contain atleast one lower case letter, upper case
        letter, number and symbol
      </div>
    </div>
    <button mat-raised-button color="success" type="submit">Login</button>
  </form>
</mat-card>
